@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap');

body {    
    font-family: 'Work Sans', sans-serif;
}
.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    padding: var(--padding-grande);
    position: relative;
    max-width: 750px;
}

.banner-background {
    padding: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-image {
    width: 100%;
    width: 550px;
    height: auto;
    display: block;
    object-fit: contain;
    filter: drop-shadow(0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2));
}

.banner-text {
    text-align: left;
    color: white;
    width: 90%;
    padding-left: 2rem;
}

.banner-text h2 {
    font-size: 2.6rem;
    font-weight: 1000;
    line-height: 1.1;
}

.banner-text p {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 100;
}
