.containerPrincipal {
  background-color: #000842;
  width: 55px;            
  height: 100vh;           
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center; 
  gap:100px;
}

.opcoes {
 display: flex;
 flex-direction: column;
 gap: 20px;
 align-items: flex-start;
 margin-top: 20px;
}

.saida {
  margin-top: auto; 
  margin-bottom: 20px;
}
.contentArea {
 flex-grow: 1;
 padding: 20px; 
}

.mainContent {
 display: flex;
}