@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
  background-color: #F1EFEC;
  font-family: 'Work Sans', sans-serif;
}

/* Container principal lado a lado */
.containerHorizontal {
  background-color: #F1EFEC;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding-right: 40px;
  position: relative;
}

/* Elemento da esquerda */
.elementoEsquerdo {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
}

/* Elemento da direita */
.elementoDireito {
  margin-left: auto;
  transform: translateX(50px);
}