@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
  --azul-escuro: #000842;
  --azul-claro: #528FF4;
  --branco: #F1EFEC;
  --azul-destaque: #0C21C1;
  --borda-arredondada: 1.25rem;
  --tamanho-logo: 3rem;
  --espacamento-logo: 2rem;
  --fundo: #f1efec;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--fundo);
  height: 100%;
}

.tela-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fundo);
  height: 100vh;
  padding: 1rem;
}

.conteudo-lado-a-lado {
  display: flex;
  width: 100%;
  
  height: 100%;
  border-radius: var(--borda-arredondada);
  overflow: hidden;
  
}

.lado-esquerdo {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.lado-direito {
  background-color: #000842;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 100%;
}

.espaco-logo {
  position: absolute;
  top: 1rem;
  left: 2rem; /* <- era right, agora é left */
  height: var(--tamanho-logo);
  width: auto;
}

.titulo-area {
  margin-bottom: 2rem;
}
