@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
.containerFormulario {
  background-color: #f1efec;
  display: flex;
  align-items: center;
  padding: 0 2rem 1rem 1rem 0;
  padding-right: 50px;
  height: 100%;
}

.envoltorioFormulario {
  padding: 2rem;
  border-radius: 1rem;
  max-width: 700px;
  width: 100%;
}

.tituloFormulario {
  font-size: 2.5rem;
  font-weight: 1000;
  color: #0c21c1;
  margin-bottom: 1.5rem;
}

.descricaoFormulario {
  color: black;
  margin-bottom: 1.2rem;
  line-height: 1.1;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 100px;
}

.textoAzul {
  color: #0c21c1;
}

.grupoCampoFormulario {
  margin-bottom: 1rem;
}

.rotuloFormulario {
  display: block;
  font-size: 0.9rem;
  font-weight: 1000;
  color: #0c21c1;
  margin-bottom: -0.5rem;
}

.entradaFormulario {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.75rem 0 0.5rem 0.5rem;
  border: none;
  border-bottom: 2px solid #000842;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.entradaFormulario:focus {
  outline: none;
  border-color: #0c21c1;
}

.entradaFormulario option {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.botaoFormulario {
  width: 100%;
  background-color: #0c21c1;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 25px;
}

.botaoFormulario:hover {
  background-color: #000842;
}

.botaoMostrar {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: blue;
}
