@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
body{
  font-family: 'Work Sans', sans-serif;
}
.containerFormulario {
  background-color: #F1EFEC;
  display: flex;
  align-items: center;
  padding: 0 2rem 1rem 1rem;
  padding-right: 50px;
}

.envoltorioFormulario {
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  width: 100%;
}

.tituloFormulario {
  font-size: 2.5rem;
  font-weight: 1000;
  color: #0C21C1;
  margin-bottom: 1.20rem;
}

.descricaoFormulario {
  color: black;
  margin-bottom: 1.2rem;
  line-height: 1.1;
  font-weight: 600;
  font-size: 1.2rem;
}

.textoAzul {
  color: #0C21C1;
}

.grupoCampoFormulario {
  margin-bottom: 1rem;
}

.rotuloFormulario {
  display: block;
  font-size: 1.1rem;
  font-weight: 1000;
  color: #0C21C1;
  margin-bottom: -0.5rem;
}

.entradaFormulario {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.75rem 0 0.5rem 0.5rem;
  border: none;
  border-bottom: 2px solid #000842;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.entradaFormulario:focus {
  outline: none;
  border-color: #0C21C1;
}

.botaoFormulario {
  width: 100%;
  background-color: #0C21C1;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botaoFormulario:hover {
  background-color: #000842;
}

.botaoMostrar{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: blue;
  
}

