@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&family=Montserrat:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #f1efec;
}

.container {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
}
.conteudo {
  flex: 1;
  padding: 2rem 4rem 2rem 8rem;
  height: 100%;
}

/* Conteúdo */


.cabecalho h1 {
  font-size: 60px;
  font-weight: 1000;
  margin: 0;
  letter-spacing: -2px;
  color: #000842;
}

.subtitulo {
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 450;
  margin-top: -10px;
  color: #000842;
}

.busca-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.busca-form {
  display: flex;
  align-items: center;
  max-width: 700px;
  width: 100%;
  position: relative;
}

.campo-busca {
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  font-size: 1rem;
  height: 40px;
  color: #0a1446;
  background-color: #d9d9d9;
}

.botao-busca-icone {
  position: absolute;
  right: 65px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.botao-filtro {
  background-color: #000842 !important;
  border-radius: 8px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-filtro img {
  width: 20px;
  height: 20px;
}

.busca-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 2rem 0;
}

/* Cards */
.titulo-reparos {
  font-size: 45px;
  font-weight: 1000;
  margin: 1.5rem, 0;
  color: #000842;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #000842 !important;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  display: flex;
  align-items: center;
}

.device-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.nome {
  font-weight: 600;
  margin: 0;
  color: white;
}

.servico {
  margin: 0;
  font-size: 0.9em;
  color: white;
}

.status-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.card-body {
  background-color: #fff; /* Garante fundo branco */
  padding: 16px;
  font-size: 0.95em;
  color: #000842 !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card-body p{
  margin-bottom: 0px;
  font-weight: 500;
}
.card-body strong{
  font-weight: 950;
}
.sintomas-titulo {
  margin-top: 8px;
  font-weight: 600;
}

.sintomas-texto {
  text-overflow: ellipsis;
  text-align: center;
  background-color: #e9ebe4;
  border-radius: 6px;
  padding: 0.5rem;
  margin-top: 0.25rem;
  font-size: 0.7rem;
  height: 80px;
  max-height: 10rem;
  overflow: hidden;
  position: relative;
  line-height: 1.055rem;
  margin-inline-end: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  
}

.sintomas-texto::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.2em;
  background: linear-gradient(to bottom, rgba(233,235,228,0), rgba(233,235,228,1) 80%);
  pointer-events: none;
  opacity: var(--opacity, 0); /* Controlado via JavaScript */
}



.scroll-cards {
  padding-right: 8px;
}


