.conteinerPrincipal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0 16px;
    border-radius: 8px;
  }
  
  .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    
  }
  
  .fieldText {
    display: flex;
    flex-direction: column;
  }
  
  .fieldLabel {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-bottom: 2px;
  }
  
  .fieldValue {
    font-size: 14px;
    color: #888;
  }
  
  .editButton {
    background-color: #000842;
    border: none;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
  }
  
  .iconEdit {
    width: 16px;
    height: 16px;
  }
  