@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f6f4f1;
  color: #0a1446;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}